<aside class="control-sidebar control-sidebar-dark">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">快速导航</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="@Url.Action("main", "Home")">
                        <i class="menu-icon fa fa-university bg-blue"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">博客页</h4>
                            <p>转到博客页</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "Movements")">
                        <i class="menu-icon fa fa-file bg-purple"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">大标题</h4>
                            <p>内容描述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "Transfers")">
                        <i class="menu-icon fa fa-exchange bg-yellow"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">大标题</h4>
                            <p>内容描述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "Projects")">
                        <i class="menu-icon fa fa-thumb-tack bg-gray"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">大标题</h4>
                            <p>内容描述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LoginOut", "Home")">
                        <i class="menu-icon fa fa-credit-card bg-green"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">登出</h4>
                            <p>退出登录</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<div class="control-sidebar-bg"></div>