@model mymvc_core.Models.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="content-wrapper">

    <h2>
        @ViewBag.a
    </h2>
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <!-- box -->
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-11">
                                <form role="form" action="@Url.Action("Add", "Identity")" method="post">
                                    <span class="text-red">@Html.ValidationSummary()</span>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("当前密码")
                                                @Html.TextBoxFor(t => t.OldPassword, new { Class = "form-control", placeholder = "Email" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("新密码")
                                                @Html.TextBoxFor(t => t.NewPassword, new { Class = "form-control" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("确定新密码")
                                                @Html.TextBoxFor(t => t.ConfirmPassword, new { Class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success btn-flat pull-left"><i class="fa fa-check"></i> 登录</button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
