@model mymvc_core.Models.ViewModels.ConfirmEmailViewModel
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="content-wrapper">

    <h2>
        @ViewBag.a
    </h2>
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <!-- box -->
                <div class="box box-warning">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-11">
                                <form role="form" action="@Url.Action("ConfirmEmail", "Identity")" method="post">
                                    <span class="text-red">@Html.ValidationSummary()</span>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("用户名")
                                                @Html.TextBoxFor(t => t.userName, new { Class = "form-control" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("邮箱")
                                                @Html.TextBoxFor(t => t.emailAdress, new { Class = "form-control" })
                                            </div>
                                        </div>
                                    </div>




                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-success btn-flat pull-left"><i class="fa fa-check"></i> 发送邮件</button>
                                </form>


                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>




        </div>
    </section>
</div>



